:root {
    --general-text: #000000;
    --accent-text: #040404;
    --general-bg: #FFFFFF;
    --name-color: #9C9C9C;
    --accent-color: #DE343D;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    font-family: "Monument Extended", sans-serif;
    line-height: 2;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-image: linear-gradient(to right, #FFB800, #DE343D);
}


.header__top {
}





.header__top-inner {
    background: #fff;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.nav {;
}


.nav__list {
    display: flex;
    gap: 41px;
}


.nav__search {
    
}


.nav__item {}





.nav__link {}


.header__hero {}


.hero__inner {}


.hero__content {}


.hero__text {}


.hero__img {}