body {
    background-color: #1616be;
}

.wrapper {
    padding: 50px;
    height: 100%;
}

.container {
    position: relative;
    height: 600px;
    background-color: #00d9ff;
}

.block {
    background-color: #6ce248;
    height: 600px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}


@keyframes move-block{
    0% {
        left: 0px;
    }
    50%{
        border-radius:0%;
    }

    100% {
        left: calc(100% - 200px);
    }
}


@keyframes color-block {
    50% {
        background-color: #21e61b;
    }

    50% {
        background-color: red;
    }
}



.block{
    animation: move-block 5s 1s infinite alternate linear,
    color-block  5s 1s infinite alternate linear;
}


