table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

td,
th,
caption {
	border: 1px solid #000;
	font-family: sans-serif;
}

caption {
	border-bottom: none;
	font-weight: 700;
}

.weekend {
	color: #ff0000;
}
