.block-1{
    border: 1px solid #000;
    background: rgb(228, 164, 164);
    box-sizing: content-box;
    max-height: 500px;
    max-width: 2500px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 10px;
    overflow: auto;
}

.block-2{
    box-sizing: content-box;
    margin: 15px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 40px;
    max-width: 500px;
    background: rgb(122, 122, 250);
    box-shadow: inset 1px 1px 5px black;

    display: inline-block;
    width: 300px;
}